@import '@/styles/typography';
@import '@/styles/grid';

.step {
  position: relative;
  max-width: 376px;
  max-height: 40px;
  text-align: center;
  box-sizing: border-box;

  @media screen and (max-width: map-get($breakpoints, sm)) {
      max-width: unset;
      max-height: unset;
  }

  &__svg {
    width: 100%;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    @include responsive-font-sizes('font-size', utils);
    font-weight: 400;
  }

  .svg {
    &__body {
      stroke: var(--question-step-border);
      fill: var(--white-100);
    }

    &__hands {
      stroke: var(--question-step-border);
    }
  }

  &_active {
    .step__text {
      color: var(--question-step-text-active);
    }

    .svg__body {
      stroke: var(--question-step-border-active);
    }

    .svg__hands {
      stroke: var(--question-step-border-active);
    }
  }

  &_normal {
    .step__text {
      color: var(--question-step-text);
    }

    .svg__body {
      stroke: var(--question-step-border);
      fill: var(--white-100);
    }

    .svg__hands {
      stroke: var(--question-step-border);
    }
  }

  &_disabled {
    .step__text {
      color: var(--question-step-text-disabled);
    }
  }
}
