@import '@/styles/typography';
@import '@/styles/grid';

.button {
  @include responsive-font-sizes('font-size', utils);
  color: var(--main-button-text);
  font-weight: 600;
  background-color: var(--main-button-bg);
  border: none;
  border-radius: 0.75rem;
  padding: 1.3125rem 1.5rem;
  min-width: 18.5rem;
  transition-duration: 0.3s;
  cursor: pointer;

  @media screen and (max-width: map-get($breakpoints, sm)) {
    width: 100%;
    min-width: unset;
  }

  &:hover {
    background-color: var(--main-button-bg-hover);
  }

  &:active {
    background-color: var(--main-button-bg-pressed);
  }
}