// Main Colors
$orange-120: #E87928;
$orange-100: #FF8B37;
$orange-80: #FFAC70;
$orange-5: #FFF3EB;
$green-100: #47D867;
$green-5: #E6FAEA;
$red-100: #EC6259;
$red-5: #FDEEED;
$black-100: #1C1C21;
$black-40: #D0D0D8;
$black-5: #F5F5F7;
$white-100: #FFFFFF;

// Main Button Colors
$main-button-text: $white-100;
$main-button-bg: $orange-100;
$main-button-bg-hover: $orange-80;
$main-button-bg-pressed: $orange-120;

// Question Button Colors
$question-button-indicator: $orange-100;
$question-button-text: $black-100;
$question-button-bg: $white-100;
$question-button-bg-selected: $orange-5;
$question-button-bg-correct: $green-5;
$question-button-bg-wrong: $red-5;
$question-button-border: $black-40;
$question-button-border-hover: $orange-100;
$question-button-border-selected: $orange-100;
$question-button-border-correct: $green-100;
$question-button-border-wrong: $red-100;

// Question Step Colors
$question-step-text: $black-100;
$question-step-text-active: $orange-100;
$question-step-text-disabled: $black-40;
$question-step-border: $black-40;
$question-step-border-active: $orange-100;

