@import '@/styles/typography';
@import '@/styles/variables';
@import '@/styles/grid';

.button {
  position: relative;
  max-width: 421px;
  max-height: 72px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  height: fit-content;
  padding: 0;

  &__svg {
    width: 100%;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 11.85%;
    transform: translate(0, -50%);
    font-weight: 400;
    @include responsive-font-sizes('font-size', utils);
    white-space: nowrap;

    &__indicator {
      margin-right: 0.5rem;
      color: $orange-100;
    }
  }

  .svg {
    &__body {
      transition: fill 0.3s ease, stroke 0.3s ease;
      stroke: $question-button-border;
      fill: $question-button-bg;
    }

    &__hands {
      transition: stroke 0.3s ease;
      stroke: $question-button-border;
    }
  }

  &:hover {
    .svg {
      &__body {
        stroke: $question-button-border-hover;
      }

      &__hands {
        stroke: $question-button-border-hover;
      }
    }
  }

  &:active {
    .svg {
      &__body {
        fill: $question-button-bg-selected;
        stroke: $question-button-border-selected;
      }

      &__hands {
        stroke: $question-button-border-selected;
      }
    }
  }

  &_active {
    .svg {
      &__body {
        fill: $question-button-bg-selected;
        stroke: $question-button-border-selected;
      }

      &__hands {
        stroke: $question-button-border-selected;
      }
    }
  }

  &_correct {
    .svg {
      &__body {
        fill: $question-button-bg-correct;
        stroke: $question-button-border-correct;
      }

      &__hands {
        stroke: $question-button-border-correct;
      }
    }
  }

  &_wrong {
    .svg {
      &__body {
        fill: $question-button-bg-wrong;
        stroke: $question-button-border-wrong;
      }

      &__hands {
        stroke: $question-button-border-wrong;
      }
    }
  }
}